{% extends 'base.html.twig' %}


{% block title %}{{ 'Ajout d\'une mosquée'|trans }}{% endblock %}

{% block notifications %}
{% endblock %}


{% block body %}
<div class="container">
  <!-- Section: Magazine v.2 -->
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <section class="magazine-section my-5">
        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold text-center my-2">{{ 'Enregistrement d\'une mosquée'|trans }}</h2>
        <!-- Section description -->
        <p class="text-center dark-grey-text w-responsive mx-auto">
          {% include('Mosquee/_mosquee.html.twig') %}
        </p>
      </section>
    </div>
  </div>
  <!-- Section: Magazine v.2 -->
</div>
{% endblock %}


{% block javascript %}
  <script>
    $(document).ready(function() {
      $('.mdb-select').materialSelect();
    });
  </script>
{% endblock %}
